<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI_iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CI_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C64F74132860815500EE430F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6533C212822CE9A00BCB323</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C69E102A286CAC20003B1767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C69E1033286CAC21003B1767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6B8FD89280D8CA100030892</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6B8FD93280D8CA200030892</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
